# Frontend
frontend/node_modules/
frontend/dist/

# Environment files
.env
*.env

# Backend
backend/.venv/
backend/app/gis/tiles/
backend/app/gis/osm/
backend/HydroRIVERS_Asia/
backend/HydroRIVERS_Asia.zip
backend/earth-engine-key.json

# GIS files
*.tif
*.tiff
*.shp
*.dbf
*.shx
*.prj
*.cpg
*.pbf
*.zip

# ML models
*.joblib
*.pkl

# Python
__pycache__/
*.pyc